.pageheader__host
  .pageheader__host--icon
    %a{href:"#"}
      =image_tag 'registration_new.png',class:"registration_icon"
  .pageheader__host--user_icon
    %img{src:"assets/Airbnb_icon-icons.com_66791.png"}
.pagebody__host
  %img{src:"assets/registration.png" , class:"img--registration"}
  .pagebody__host__leftside
    .pagebody__host__leftside--header 
      %h1.pagebody__host__leftside--header--title さあ、お部屋の掲載準備をはじめましょう。
    .pagebody__host__leftside--top
      %h4.font--step ステップ１
      %h2.font--overview 最初は基本情報から
      %p.font--etc ベッド数　バスルーム　アメニティなど
      %a{href:"#"}
        .button__registoration--green
          .font 続行
    .pagebody__host__leftside--middle
      %h4.font--step ステップ2
      %h2.font--overview 次に特徴をPR
      %p 写真　概要　タイトル
    .pagebody__host__leftside--bottom
      %h4.font--step ステップ3
      %h2.font--overview 予約準備を整えてフィニッシュ!
      %p 予約受付設定、カレンダー、料金
.pagefooter__host
.pagefoot__host
  .pagefoot__host--copy
    %img{src:"assets/airbnb-black_100129.png",class:"pagefoot__host--copy--icon"}
    .pagefoot__host--copy--text
      %p Airbnb Global Services Limited
      %p 観光庁長官(01)第S0001号(2018年6月15日-2023年6月14日)
      .pagefoot__host--copy--text--font 
        .pagefoot__host--copy--text--font--copymark © 
        .pagefoot__host--copy--text--font--copyright Airbnb, Inc.
