.contents-category__title
  %h2
    Airbnbで探す
.contents-category__frame
  .contents-category__frame--box
    %a{_pageexpand_: "4112", href: "#"}
      .cate-image
        %img{_pageexpand_: "416", alt: "", src: "https://a0.muscache.com/im/pictures/8b7519ec-2c82-4c09-8233-fd4d2715bbf9.jpg"}/
      .cate-txt
        %span 宿泊先
  .contents-category__frame--box
    %a{_pageexpand_: "4116", href: "#"}
      .cate-image
        %img{_pageexpand_: "416", alt: "", src: "https://a0.muscache.com/im/pictures/cb8b3101-d419-4c17-8e2f-4989b39b98c3.jpg"}/
      .cate-txt
        %span 体験
  .contents-category__frame--box
    %a{_pageexpand_: "4120", href: "#"}
      .cate-image
        %img{_pageexpand_: "416", alt: "", src: "https://a0.muscache.com/im/pictures/da2d8e97-90b7-409f-94ac-5ab0327c289b.jpg"}/
      .cate-txt
        %span レストラン



