.room.col-sm-6.col-md-3
  .image
    = link_to image_tag "room2.png", class: "room__image"
  .room__detail
    = link_to do
      .room__detail-tag
        マンション・アパート貸切 · ベッド4台
      .room__detail-title
        J's APT 2 Bed Rooms + Free Portable Wi-Fi
      .room__detail-detail
        1泊あたり料金¥ 14,521· キャンセル無料
      .room__detail-evaluation
        ★★★ 222 ・スーパーホスト
