.show-content
  .show-content__header
  .show-content__main
    .show-content__main-top
      %img.top-image{src: "https://a0.muscache.com/im/pictures/cb0d0c92-a1fd-43ab-99f8-02f886666c4d.jpg?aki_policy=xx_large"}/
      %button.share シェアする
      %button.keep 保存する
      %button.display 写真を表示する

    .show-content__main-body
      .show-content__main-body__left-content
        .show-content__main-body__left-content-top
          .show-content__main-body__left-content-top__title マンション・アパート貸切
          %img.icon-image{src: "https://a0.muscache.com/im/pictures/73411d20-f2e0-4b59-b5c2-e77857e7eeae.jpg?aki_policy=profile_x_medium"}
          .show-content__main-body__left-content-top__main ★Shinjuku-Area★New Open★Free WIFI★Designer`S Room★
          .show-content__main-body__left-content-top__area Shinjuku-ku
          .show-content__main-body__left-content-top__condition
            ゲスト５人　１寝室　ベッド２台　１バスルーム
        .show-content__main-body__left-content-point
          .show-content__main-body__left-content-point__title
            リスティングの注目ポイント
          .show-content__main-body__left-content-point__body
            セルフチェックイン · キーボックスの鍵で簡単に入室できます。
          .show-content__main-body__left-content-point__action
            役に立った  · 役に立たなかった
        .show-content__main-body__left-content-deteil
          お部屋は四ﾂ谷駅から徒歩5分､四谷三丁目駅から徒歩3分のところにあり､周りは地元の人から愛され続けている老舗やお寺なども多く､皇居にも近いので最高の立地です!
          新宿御苑にも簡単にいけますので､ゆっくり散歩や､皇居の周りをｼﾞｮｷﾞﾝｸﾞするのも最高です!
          お部屋にはｾﾐﾀﾞﾌﾞﾙﾍﾞｯﾄﾞが2つ､ｼﾝｸﾞﾙｿﾌｧｰﾍﾞｯﾄ1つありますので､最大で5名様まで宿泊可能です｡
        .show-content__main-body__left-content-amenities
          %h3.title アメニティ・設備
          .show-content__main-body__left-content-amenities-items
            wifi シャンプー　キッチン　ヘアドライヤー　テレビ　ハンガー
        .show-content__main-body__left-content-bed
          ベッドのタイプ
          .show-content__main-body__left-content-bed-left
            .icon 画像
            <b>寝室１</b>
            ダブルベッド２
          .show-content__main-body__left-content-bed-right
            .icon 画像
            <b>共用スペース</b>
            ソファーベッド１
        .show-content__main-body__left-content-reservation
          .show-content__main-body__left-content-reservation-title
            予約可能状況
          .show-content__main-body__left-content-reservation-update
            2日前に更新
          .show-content__main-body__left-content-reservation-calendar
            %img.calendar-image{src: "/assets/calendar.png", alt: "カレンダー"}
        .show-content__main-body__left-content-review
          .show-content__main-body__left-content-review-title
            レビューは（まだ）０件です
          .show-content__main-body__left-content-review-body
            ほかのお家で受けたレビューが44件あります
          %button.review-button ほかのレビューを見る
        .show-content__main-body__left-content-host
          .show-content__main-body__left-content-host-title
            ホストはKazさん
          .show-content__main-body__left-content-host-sub
            2017年6月からメンバー
          .show-content__main-body__left-content-host-num
            ★ レビュー44件 認証済み
          .show-content__main-body__left-content-host-reply-rate
            返答率：<b>100%</b>
          .show-content__main-body__left-content-host-reply-time
            返答時間：<b>１時間以内</b>
          %button.host-communication ホストに連絡
        .show-content__main-body__left-content-caution
          <b>連絡は常にAirbnbを通して行いましょう</b>・お支払いをお守りするためにも、Airbnbのサイトやアプリ以外の場所では決して送金や連絡を行わないようご注意ください。
        .show-content__main-body__left-content-area
          エリア
          .show-content__main-body__left-content-area-title
            <b>特徴</b>・摩天楼・新宿御苑・繁華街　・ゲイバー・巨大デパート・都会
          .show-content__main-body__left-content-area-sub
            Kazさん宅の所在地はShinjuku-ku, Tōkyō-to, 日本です。
          .show-content__main-body__left-content-area-body
            近くには皇居がありますので､皇居散策や､ｼﾞｮｷﾞﾝｸﾞなんかも最高の環境です｡
            四谷は東京の真ん中に位置していて､新宿方面へのｱｸｾｽも抜群!人気の中野や高円寺にも1本でいけますし､浅草方面の秋葉原､東京､相撲の両国へ1本です!!
            家の周りは風情溢れる老舗のお店や心癒される坂道など､素敵な散歩ｺｰｽがたくさん!ゆったり時間が過ごせるはずです!
            .show-content__main-body__left-content-area-body-action
              このエリア情報の続きを読む
          .show-content__main-body__left-content-area-map
            %img.map-image{src: "/assets/map.png"}
            %p 詳しい所在地はご予約時にお知らせします。
        .show-content__main-body__left-content-rule
          ポリシー
          .show-content__main-body__left-content-rule-title
            ハウスルール
          .show-content__main-body__left-content-rule-body
            禁煙
            ペットお断り
            パーティー&イベントお断り
            チェックインは16:00から
            11:00までにチェックアウト
            セルフチェックイン（キーボックス）
          .show-content__main-body__left-content-rule-action
            全ルールを読む
        .show-content__main-body__left-content-cancel
          .show-content__main-body__left-content-cancel-title
            キャンセル
          .show-content__main-body__left-content-cancel-body
            <b>厳格 - 48時間はキャンセルが無料</b>
            その後はチェックイン7日前までにキャンセルすれば、サービス料を除き50%返金
            されます。
          .show-content__main-body__left-content-cancel-action
            ポリシーをさらに読む

    .show-content__main-body__right-content
      .show-content__main-body__right-content-tool
        .show-content__main-body__right-content-tool-price <b>¥ 11,800</b>/1泊
        .show-content__main-body__right-content-tool-date 日付
        %input{name: "日付", placeholder: "2018/09/26 ➡︎ 2018/09/29", type: "text", value: ""}
        .show-content__main-body__right-content-tool-number 人数
        %input{name: "人数", placeholder: "ゲスト１人", type: "select", value: ""}
        .show-content__main-body__right-content-tool-caution
          その日程では予約できません
        %button.check 空室状況をチェック

    .show-content__main-body__bottom-content
      .show-content__main-body__bottom-content-title
      .show-content__main-body__bottom-content-list
      .show-content__main-body__bottom-content-
  .show-content__footer


