@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.contents-world {
      width: 100%;
      padding: 16px 80px;
      @include clearfix();
      &__title {
        h2 {
          font-weight: 700;
          margin-bottom: 0px;
          font-size: 24px;
          line-height: 30px;
          letter-spacing: normal;
          font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
          text-transform: undefined;
          color: #484848;
          padding-top: 2px;
          padding-bottom: 2px;
        }
      }
    @media (min-width: 1000px) {
    }
}
