.footer {
    display: none;
    z-index: 10;
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    width: 100%;
    &__main {
        img {
            width: 100vw;
            height: 376px;
            max-width: 1500px;
            margin-bottom: 10px;
            margin: 0 0 0 0;
            object-fit: cover;
         }
    }
}
